*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navbar Layout */
.navbar{
    height: 3rem;
    background-color: #D9D4F5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    position: sticky;
    top: 0;
    z-index: 1000;
}

/* Logo */
.logo h1 {
  font-size: 1.8rem;
  font-weight: bold;
  color: #333;
}

/* Nav Links */
.nav-links ul{
    display: flex;
    list-style: none;
    gap: 2.5rem;
}

.nav-links a{
    text-decoration: none;
    color: #333;
    font-size: 1.2rem;
    font-weight: 500;
    transition: color 0.3s;
}

.nav-links a:hover{
    color: rgb(154, 89, 154);
    font-weight: 800;
    transition: color ease-in-out 0.3s;
}

.nav-actions{
    display: flex;
    gap: 1.5rem;
    font-size: 1.3rem;
    align-items: center;
}

.nav-action i:hover{
    font-size: 1.8rem;
    color: blue;
    transition: color 0.3s;
}

/*login icons*/
.login-icon {
  position: relative;
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
}

.login-icon i {
  position: absolute;
  top: 0.3rem;
  left: 0;
  transition: opacity 0.3s ease;
}

.login-icon .hover-icon {
  opacity: 0;
}

.login-icon:hover .default-icon {
  opacity: 0;
}

.login-icon:hover .hover-icon {
  opacity: 1;
}

.hamburger {
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.hero {
  background-color: #F3E8FF; /* pastel background */
  color: #2D2D2D;
  padding: 12rem 2rem;
  text-align: center;
}

.hero-content h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.hero-content p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.cta-button {
  background-color: #FFC8DD;
  color: #2D2D2D;
  padding: 0.8rem 2rem;
  border-radius: 8px;
  text-decoration: none;
  transition: background 0.3s ease;
}

.cta-button:hover {
  background-color: #FFD6A5;
}
